<div class="grid-container layout">
   <div class="grid-item">
      <img src="../../assets/img/slogo.png" alt="" class="logo">
      <img src="../../assets/img/Subtraction19.svg" alt="" class="logo2">
      <p class="textcaption">
         Book a demo today and get two weeks for <span>free</span> Why?
      </p>
      <div class="layout_">
         <span>
            <p class="textlabel">Because Our AI-Powered Software Will Exceed Your Marketing Goals.</p>
         
            <div class="dot">
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
      
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
      
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
      
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
               <div></div>
            </div>
            <img src="../../assets/img/Artboard1.png" alt="" class="artboard">
         </span>
        
      </div>

   </div>
  <div class="grid-item">

      <div class="flex-container">
         <img src="../../assets/img/Ellipse.svg" alt="" style="width:35%;">
         <img src="../../assets/img/RepeatGrid2.svg" alt="" style="width: 15%;">
      </div>
    
      <router-outlet></router-outlet>
      <img src="../../assets/img/Group350.svg" class="logo3">
      <span class="card">
         <img src="../../assets/img/Ellipse2.svg" alt="" srcset=" " style=" width:66px"><br>
         
         <img src="../../assets/img/Ellipse1.svg" alt="" srcset="" style=" width:33px; margin-left: -70px;"><br>
         <img src="../../assets/img/Ellipse0.svg" alt="" srcset="">
      </span>
  </div>
</div>

<div class="layout2">
   <span>Our Offer: Intelligent Automation. Real-time Insights. Unparalleled Results.</span>
</div>

<div class="grid-container ">
   <div class="grid-item layout3">
      <span>The <span style="color:#38CCF5;">Benefits</span> of using Filed &nbsp; &nbsp;</span>
      <img src="../../assets/img/Group61.svg" alt="" >
   </div>
   

   <div class="grid-item">
      <p style="font-size:15px; display: flex;"> 
         <img src="../../assets/img/iconcheck.svg" style="width: 21px; padding-right:20px;"> 
         Ability to scale using Dexter, our AI-powered marketing genius.
      </p>
      <p style="font-size:15px; display: flex;"> 
         <img src="../../assets/img/iconcheck.svg" style="width: 21px; padding-right:20px;">  
         Client Success Manager who will optimize your Facebook ad campaigns and focus on driving the best possible results for you.
      </p>
      <p style="font-size:15px; display: flex;"> 
         <img src="../../assets/img/iconcheck.svg" style="width: 21px; padding-right:20px;"> 
         This is a limited time offer only.
      </p>
   </div>
</div>

<div class="layout4">
   <div class="grid-container">
      <div class="grid-item">
         <p>
            <img src="../../assets/img/quote.svg"> 
            "It surpassed our expectations"
         </p>
         <p class="text">
            "Filed has completely surpassed our expectations. I will refer everyone I know. Filed is worth much more than I paid."
         </p>
         <div >
            <img src="../../assets/img/female.png">
            
               <p>Tania Y. <br><i>Flexi Content @Hello</i> </p>
         </div>
      </div>

      <div class="grid-item">
         <p>
            <img src="../../assets/img/quote.svg"> 
            “The essential marketing tool”
         </p>
         <p class="text">
            “Filed is the most valuable business resource we have EVER purchased. I was amazed at the quality of filed. We were treated like royalty.”
         </p>
         <div>
            <img src="../../assets/img/male.png">
            
               <p>Jack Francis <br><i>Manager @ Accidents Direct</i> </p>
         </div>
      </div>

      <div class="grid-item">
         <p>
            <img src="../../assets/img/quote.svg"> 
            “Your company is truly upstanding”
         </p>
         <p class="text">
            “The service was excellent. After using filed my business skyrocketed! It really saves me time and effort.”
         </p>
         <div>
            <img src="../../assets/img/female.png">
            <p>Dawna N. <br><i>Editor @ Museum of Typography</i> </p>
         </div>
      </div>
   </div>
</div>
<div class="layout5">
   <div class="grid-container">
      <div class="grid-item">
         <p>Copyright © 2020. All Rights Reserved.</p>
      </div>
      <div class="grid-item">
         <p>HOME</p>
         <p>FEATURES</p>
         <p>TERMS</p>
         <p>PRIVACY</p>
         <p>CONTACT US</p>
      </div>
      <div class="grid-item">
         <img src="../../assets/img/facebook.svg" class="faceb">  
         <img src="../../assets/img/instagram.svg" class="insta">  
         <img src="../../assets/img/twitter.svg" class="twit">  
      </div>
   </div>
</div>

