<div class="card">
   <p class="textcap">We’ll be in touch to get your trial set up.</p>
   <p class="littletext">Fill out details</p>
   <form>
      <div class="form-group groupInput" >
         <input type="text" class="form-control" placeholder="First Name *">
         <input type="text" class="form-control" placeholder="Last Name *">
      </div>

      <div class="form-group" >
         <input type="email" class="form-control" placeholder="Work Email *" style="width: 95%;"/>
      </div>

      <div class="form-group" >
         <input type="text" class="form-control" placeholder="Monthly Advertising Budget *" style="width: 95%;"/>
      </div>

      <div class="form-group groupphone" >
         <select class="form-control" id="sel1" name="sellist1">
            <option>Romania (Roman)</option>
            <option>$100 - $200</option>
            <option>$200 - $400</option>
            <option>$400 - $800</option>
            <option>$800 and above</option>
         </select>
         <input type="text" class="form-control" placeholder="+40">
      </div>

         <div class="form-group" >
            <input type="submit" value="GET FREE TRIAL" class="form-control">
         </div>
   
   </form>
</div>
